body {
    font-family: var(--main-font);
    color: var(--main-color);
    max-width: 1600px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

img {
    display: block;
}

/*podłączyć te klasy*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}