.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .projects-nav &,
    .portfolio-nav &,
    .features & {
        width: 1200px;
    }

    .headerh2-pictures & {
        width: 1200px;
        margin-top: 94px;
    }
}

