.container{
    width: 100%;
    padding:0 15px;
}

@media screen and (min-width:480px) {
    .container{
        max-width:480px;
        padding:0 15px;
        margin:0 auto;
        
    }
}

@media screen and (min-width:768px) {
    .container{
        max-width:768px;
        padding:0 15px;
    }
}

@media screen and (min-width:1200px) {
    .container{
        max-width:1200px;
        padding:0 15px;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .projects-nav &,
    .portfolio-nav &,
    .features & {
        width: 1200px;
    }

    .headerh2-pictures & {
        width: 1200px;
        margin-top: 94px;
    }
}

