@media screen and (min-width:320px) and (max-width:767px) {
    .featuressection {
        list-style: none;
        align-items: center;
        justify-content: center;
        padding-bottom:60px;
    }
    
    .features {
        justify-content: center;
        list-style: none;
        padding-top:60px;
        
            &__item {
                width: 450px;
                height: 120px;
                background-color: var(--team-background-color);
                border-radius: 4px;
                align-items: center;
                margin-bottom:136px;
                padding-bottom:30px;
            }
        
            &__icon {
                align-items: center;
                margin: 25px 191.54px 25px 191.54px;
            }
        
            &__title {
                font-weight: 700;
                line-height: 1.142;
                text-transform: uppercase;
                color: var(--main-color);
                width: 270px;
                font-size: 14px;
                letter-spacing: 0.03em;
                margin-top: 30px;
                align-items: center;
                justify-content: center;
                margin-left:105px;
                margin-right:105px;
            }
        
            &__description {
                line-height: 1.714;
                color:var(--gray-color);
                margin-top: 10px;
                margin-bottom: 0;
                text-transform: none;
                font-size: 14px;
                letter-spacing: 0.03em;
                font-weight: 400;
                width: 450px;
                align-items: center;
                justify-content: center;
                
            }
        }    
}


@media screen and (min-width:1200px){
    .featuressection {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-left: -30px;
        margin-top: -30px;
        align-items: center;
        justify-content: center;
        padding-bottom:60px;
    }
    
    
    .features {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 94px;
        
            &__item {
                width: 270px;
                height: 120px;
                background-color: var(--team-background-color);
                border-radius: 4px;
                align-items: center;
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
            }
        
            &__icon {
                align-items: center;
                margin: 25px 100px 25px 100px;
            }
        
            &__title {
                font-weight: 700;
                line-height: 1.142;
                text-transform: uppercase;
                color: var(--main-color);
                width: 270;
                font-size: 14px;
                letter-spacing: 0.03em;
                margin-top: 30px;
            }
        
            &__description {
                line-height: 1.714;
                color:var(--gray-color);
                margin-top: 10px;
                margin-bottom: 0;
                text-transform: none;
                font-size: 14px;
                letter-spacing: 0.03em;
                font-weight: 400;
                width: 270px;
            }
        }    
    
    
}









