.offersection {
    padding-top: 94px;
}

.offer {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    &__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
        margin-top: 94px;
        margin-bottom: 50px;
    }

    &__item{
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 94px;
        }
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb>.label {
    position: absolute;
    height:70px;
    text-align: center;
    bottom: 0;
    right: 0;
    left:0;
    margin: 0;
    padding-top: 27px;
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
}

