.teamsection {
    background-color: var(--team-background-color);
}

.team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;

    &__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
        margin-top: 94px;
        margin-bottom: 50px;
    }

    &__item{
        &:not(:first-child) {
            margin-bottom: 94px;
            margin-left: 30px;
            flex-basis: calc(100%/4-30px);
        }
    }

    &__card {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin: 0;
        background-color: var(--white-color);
        justify-content: center;
    }
    
    &__name {
        font-size: 16px;
        line-height: 1.171;
        letter-spacing: 0.03em;
        font-weight: 500;
        color: var(--main-color);
        text-align: center;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    &__position {
        font-size: 16px;
        line-height: 1.171;
        letter-spacing: 0.03em;
        font-weight: 400;
        color: var(--gray-color);
        text-align: center;
        margin: 0;
        padding-bottom: 16px;
    }
}




